.places {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 50px;
}

.places h1{
    font-size: 30px;
    width: 100%;
    text-align: left;
    margin-left: 30px;
}

.places article {
    width: 390px;
    padding: 20px;
    margin: 20px;
    border: #FF5A5F 1px solid;
    border-radius: 4px;
    display: inline-block;
    position: relative;
}

.places h2 {
    font-size: 30px;
    text-align: center;
}

/* contents inside each box */
.price_by_night {
    color: #FF5A5F;
    border: 5px solid #FF5A5F;
    border-radius: 50%;
    min-width: 60px;
    height: 60px;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 20px;
    right: 20px;
    text-align: center;
}
.information {
    height: 80px;
    border-top: #DDDDDD 1px solid;
    border-bottom: #DDDDDD 1px solid;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.max_guest {
    width: 100px;
    background-image: url(../images/icon_group.png);
    background-repeat: no-repeat;
    background-position: center;
    margin: auto;
}

.information p {
    position: relative;
    top: 2rem;
}

.number_rooms {
    width: 100px;
    background: url(../images/icon_bed.png);
    background-position: center;
    background-repeat: no-repeat;
    margin: auto;
}

.number_bathrooms {
    width: 100px;
    background: url(../images/icon_bath.png);
    background-repeat: no-repeat;
    background-position: center;
    margin: auto;
}

/*AMENITIES*/

.amenitie {
    margin-top: 40px;
}

.amenitie h2 {
    font-size: 16px;
    border-bottom:  #DDDDDD 1px solid;
    text-align: left;
}

.amenitie li {
    list-style: none;
}

.first_icon {
    background-image: url(../images/icon_wifi.png);
    background-position: left;
    background-repeat: no-repeat;
    height: 20px;
    background-size: contain;
    padding-left: 25px;
}

.second_icon {
    background-image: url(../images/icon_tv.png);
    background-position: left;
    background-repeat: no-repeat;
    height: 20px;
    background-size: contain;
    padding-left: 25px;
}

.third_icon {
    background-image: url(../images/icon_pets.png);
    background-repeat: no-repeat;
    height: 20px;
    background-size: contain;
    padding-left: 25px;
}

/*REVIEWS*/

.reviews {
    margin-top: 40px;
}

.reviews h2 {
    font-size: 16px;
    border-bottom: solid #DDDDDD 1px;
    text-align: left;
}

.reviews li {
    list-style: none;
}

.reviews ul li h3 {
    font-size: 14px;
}

.reviews ul li p {
    font-size: 12px;
}