body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

/* ----------- iPhone 6+, 7+ and 8+ ----------- */

/* Portrait */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) {
    body {
        margin: 0;
        padding: 0;
        overflow-x: hidden;
    }
}


/* ----------- iPhone X ----------- */

/* Portrait */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) { 
    body {
        margin: 0;
        padding: 0;
        overflow-x: hidden;
    }
}

/* ----------- Galaxy S4, S5 and Note 3 ----------- */

/* Portrait */
@media screen 
  and (device-width: 320px) 
  and (device-height: 640px) {
    body {
        margin: 0;
        padding: 0;
        overflow-x: hidden;
    }
}

/* ----------- Galaxy S6 ----------- */

/* Portrait */
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) {
body {
        margin: 0;
        padding: 0;
        overflow-x: hidden;
    }
}

/* ----------- Google Pixel ----------- */

/* Portrait */
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) {
body {
        margin: 0;
        padding: 0;
        overflow-x: hidden;
    }
}


/* ----------- Google Pixel XL ----------- */

/* Portrait */
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) {
body {
        margin: 0;
        padding: 0;
        overflow-x: hidden;
    }
}

/* ----------- iPad 1, 2, Mini and Air ----------- */

/* Portrait */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) {
body {
        margin: 0;
        padding: 0;
        overflow-x: hidden;
    }
}

/* ----------- iPad 3, 4 and Pro 9.7" ----------- */

/* Portrait */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) {
body {
        margin: 0;
        padding: 0;
        overflow-x: hidden;
    }
}

/* ----------- iPad Pro 10.5" ----------- */

/* Portrait */
/* Declare the same value for min- and max-width to avoid colliding with desktops */
/* Source: https://medium.com/connect-the-dots/css-media-queries-for-ipad-pro-8cad10e17106*/
@media only screen 
  and (min-device-width: 834px) 
  and (max-device-width: 834px) {
body {
        margin: 0;
        padding: 0;
        overflow-x: hidden;
    }
}

/* ----------- iPad Pro 12.9" ----------- */

/* Portrait */
/* Declare the same value for min- and max-width to avoid colliding with desktops */
/* Source: https://medium.com/connect-the-dots/css-media-queries-for-ipad-pro-8cad10e17106*/
@media only screen 
  and (min-device-width: 1024px) 
  and (max-device-width: 1024px) {
body {
        margin: 0;
        padding: 0;
        overflow-x: hidden;
    }
}